[2013-12-08 16:35] RCowles opened #4 "Location of style.css"
Currently style.css is being compiled in /css/. Should it be moved to the root directory of the theme? ¯_(ツ)_/¯

[2013-12-08 18:35] NikV opened #5 "404.php Additions"
I think it would be awesome if we added some neat features to the 404.php. A custom background or something like that. Any ideas what to add?

[2013-12-09 00:35] #4 closed, assigned to nobody

[2013-12-27 17:35] NikV opened #7 "Page Templates: Left Sidebar and Right Sidebar"
Do you think those could be page templates right now?

[2014-01-13 02:29] #7 closed, assigned to nobody

[2014-01-18 03:54] NikV opened #9 "Design"
Are there any big ideas for default designs? I know it's just a starter theme, but a few extra default styles would be cool.

[2014-01-25 04:20] RCowles opened #11 "SASS / CSS Directory Structure"
The current folder structure with /css/ and /scss/ seems like it can be improved. No, I don't have a solution... but I thought it might be worthwhile getting the discussion started.

So, how can we better handle the directory structure?

[2014-04-24 23:30] #11 closed, assigned to nobody

[2014-04-24 23:32] #5 closed, assigned to nobody

[2014-06-27 13:22] conveydk opened #15 "_grid-settings.scss missing"

[2014-06-27 16:21] #15 closed, assigned to nobody

[2014-10-30 03:59] mtomas7 opened #16 "Double hooks in content-none.php"
tha_entry_top and tha_entry_bottom are used twice in this file.

[2014-10-31 06:46] #16 closed, assigned to nobody

[2014-11-05 15:35] millo2k opened #17 "Full width columns"
Whats the best way to make a three column container full width? So that the three columns take up the full width of screen (no margins between each column).

Thanks

[2014-11-05 17:26] millo2k opened #18 "plugin scripts"
Do plugin scripts become merged into one file with the current theme setup?

or would they be a way to set this up?

[2014-11-17 14:20] millo2k opened #19 "module.js errors"
Hi there,

tried the theme on a new install. I'm not sure if I'm doing anything wrong, but I have node and sass installed, in my theme root I use 'nmp install'.

But when I use gulp watch it tells me there is an error
'module.js:340
    throw err;
    ^
Error: Cannot find module 'browserify''

So I install browserify and then it does the same for 'watchify', then 'vinyl-source-stream'. Having inst

[2014-11-17 17:04] #18 closed, assigned to digisavvy

[2014-11-17 17:04] #17 closed, assigned to digisavvy

[2014-11-17 17:05] #19 closed, assigned to nobody

[2015-01-28 17:24] desaiuditd opened #26 "jsHint Support in Gulp"
I see there are tasks defined for jsHint in `Gulpfile.js` [here](https://github.com/digisavvy/some-like-it-neat/blob/master/gulpfile.js#L84-L85). but when I un-comment them, it tries to evaluate the JS files from vendor i.e., third party JS files that are included in the theme. We do not want to find errors in others' code. At least I would prefer that.

We could separate out jsHint tasks from the

[2015-01-30 14:10] digisavvy commented on #26
Hi there,
Thanks so much for the thoughtful post and I apologize for the delay. So, I'm totally in agreement with you, regarding JShint. That part had stumped me a bit, in truth.  I would totally welcome a PR for this change and also for your other proposed changes, too. I would ask you submit them on the development branch, if you wouldn't mind: https://github.com/digisavvy/some-like-it-neat/tree

[2015-01-30 14:43] desaiuditd commented on #26
Wow !

That's great. I'll be upto it and prepare a PR. Will submit in a couple of days.

Just putting one of my colleague in the loop. @jeffreynolte

Thanks.

[2015-01-31 01:56] jeffreynolte commented on #26
Awesome news @desaiuditd @digisavvy!  @digisavvy - Great work with the theme, we also follow a similar workflow at Moxie and are planning to implement a bunch of features outlined in the roadmap for a [Yeoman generator](https://github.com/moxienyc/generator-moxie-wp#roadmap).  Would be great to continue collaboration.

[2015-01-31 06:05] digisavvy commented on #26
Super stoked to hear this! I'd been eyeballing Yeoman as well. Was planning on getting dirty with it this weekend, if time allows. I've been trying to hammer down accessibility and i18n stuff and I'm getting close.

[2015-02-01 17:45] digisavvy commented on #26
Hey folks,
Thanks again for the PR! =)

I had some issues merging it into my repo for some reason (let's just call it user error on my part), so I manually grabbed the changes from jshint you sent and placed into the dev branch. I tested and it looks stable: https://github.com/digisavvy/some-like-it-neat/blob/development/gulpfile.js - There were some other unrelated changes I didn't take such as c

[2015-02-03 00:13] emiluzelac opened #29 "Text Domains"
To avoid possible conflicts, themes are highly recommended to use unique, theme-based text domains. For instance `some-like-it-neat` instead of `digistarter`

[2015-02-03 00:16] emiluzelac opened #30 "wp-customizer"
I would recommend to avoid using `wp-` for anything within the theme. This prefix usually applies for core only.

[2015-02-03 00:18] emiluzelac opened #31 "Prefixes"
Just like #29, functions prefixes should also be unique and theme-based as well. `some-like-it-neat_` instead of `digistarter_`

[2015-02-03 00:21] emiluzelac opened #32 "TGM"
Since the theme does not require plugins, nor it should, I would recommend renaming the following to either plugins or recommended-plugins, along with its file itself: `require_once( get_template_directory() . '/library/vendors/tgm-plugin-activation/required-plugins.php'`

[2015-02-03 00:34] emiluzelac opened #33 "Scripts"
Since the production.js is combination of several different scripts, text domain `production-js` would need to reflect theme name as well. If this was a third-party script, this would not apply.

Also keep the consistency with the rest and use `-` instead of `_` for `digistarter_customizer`.

[2015-02-03 00:38] emiluzelac opened #34 "Bundled Plugins"
Themes should not bundle plugins such as tgm-example-plugin.zip

[2015-02-03 00:42] emiluzelac opened #35 "Recommended Plugins"
Theme recommends Hansel & Gretel plugin https://wordpress.org/plugins/hansel-gretel/ that hasn't been updated for 2 years and not supported. This is a ticking bomb.

[2015-02-03 00:51] emiluzelac opened #36 "Customizer - Example Panel"
The Customizer includes a section that is there but it does not apply to this theme, therefore it should be removed or commented if theme wants to show examples.

[2015-02-03 19:20] emiluzelac opened #37 "style.css - Description"
All credit links should be within readme or similar.

`
Description: A simple yet advanced Starter Theme built using _S, Bourbon and Neat (http://underscores.me, http://bourbon.io, http://neat.bourbon.io). Please refer to the README.md file for basic usage instructions and prerequisites. You can always grab the latest version over at http://github.com/digisavvy.some-like-it-neat
`

The latest vers

[2015-02-03 19:39] emiluzelac opened #38 "rtl.css"
Root rtl.css is not being used and it can be removed. You already have this in here: https://github.com/digisavvy/some-like-it-neat/blob/master/assets/css/rtl.css

[2015-02-03 19:48] emiluzelac opened #39 "style.css - Declaring character encodings"
There is no need to use `@charset "UTF-8";` within stylesheet. One is already in place and located in header.php. This would apply only if one is different from another.

See: http://www.w3.org/International/questions/qa-css-charset#atcharset

[2015-02-03 19:52] emiluzelac opened #40 "Editor Style"
For the editor we would add only what can actually apply to the editor, you can freely remove the rest. https://github.com/digisavvy/some-like-it-neat/blob/master/assets/css/style.css

[2015-02-04 18:50] justintadlock opened #41 "Use get_stylesheet_uri()"
The primary stylesheet URI for the theme should utilize the `get_stylesheet_uri()` function. Some plugins (and even child themes) might rely on the `get_stylesheet_uri` filter hook.

If, for some reason, you don't want the `style.css` file to load, you can filter `get_stylesheet_uri` to return a file of your choice.  The important part is that the hook is executed.

[2015-02-04 18:52] justintadlock opened #42 "Pluggable functions"
I don't recommend pluggable functions unless there's no good way to unhook or unregister the functionality.  This encourages others to bypass the core APIs to modify functionality.  Plus, there's both backward and forward compatibility concerns.

For example, the `digistarter_widgets_init()` function is pluggable but doesn't need to be.  Child theme devs can easily unhook this or unregister the si

[2015-02-04 18:52] justintadlock opened #43 "Script in footer instead of header"
You should always try to add custom JavaScript to the footer rather than the header.  The `dg_add_flexnav()` function is hooked to `wp_head`.  Go with `wp_footer` if possible.

[2015-02-04 18:53] justintadlock opened #44 "Unnecessary else statement"
The `digistarter_optional_scripts()` function is unnecessarily complex with an if and else check.  Instead, do a simple if check and drop the else.

	if ( '' != get_theme_mod( 'digistarter_add_link_color' ) ) {

[2015-02-04 18:53] justintadlock opened #45 "Yoda conditions"
There are places in the theme that should use Yoda conditions.  Reference: https://make.wordpress.org/core/handbook/coding-standards/php/#yoda-conditions

Basically, you need to flip your if statement checks around.  For example:

	if( get_theme_mod( 'digistarter_mobile_hide_arrow' ) == 0 ) { ?>

Should be:

	 if ( 0 == get_theme_mod( 'digistarter_mobile_hide_arrow' ) ) { ?>

I'll link to the ones

[2015-02-04 18:54] justintadlock opened #46 "Title tag"
WP 4.1 introduced the `title-tag` theme support feature.  Use it over `wp_title()`.  See: http://codex.wordpress.org/Title_Tag

[2015-02-04 18:55] justintadlock opened #47 "Missing default mobile menu width"
In `header.php`, make sure to add a default for this code:

	get_theme_mod( 'digistarter_mobile_min_width' )

Otherwise, nothing is output.

[2015-02-04 18:56] justintadlock opened #48 ""Proudly powered" footer text"
In `footer.php`, you have this text:

	<?php printf( __( 'Proudly powered by <span class="genericon genericon-wordpress"></span> %s', 'digistarter' ), 'WordPress' ); ?>

There are a couple of issues worth thinking about with this.  1) Always avoid HTML in translations if possible (things can get messed up).  2) It's OK to allow "WordPress" to be translated.

There are a couple of options to consid

[2015-02-04 18:56] justintadlock opened #49 "Text can't be translated"
I'm just going to keep a list of text I notice that isn't currently internationalized.  These should be updated.

* In `content.php`: `Last modified: <?php the_modified_date(); ?>`
* In `customizer.php`: Any setting `default` that's text should be translatable.

[2015-02-04 19:40] justintadlock opened #50 "Separate scripts should go in separate files"
While it does make some sense to combine all JavaScript into a single file in one way, it also makes it extremely hard to do anything else.  The problems with combination are twofold:

* Child theme users can't dequeue or replace a specific script.
* It doesn't play nicely with other plugins (e.g., plugin + theme loading Flex Nav).

Also, there are plugins available to concatenate and generally sp

[2015-02-04 19:49] justintadlock opened #51 "Use the_archive_description()"
Since you're already using `the_archive_title()` in `archive.php`, go ahead and integrate `the_archive_description()` too.

See: https://developer.wordpress.org/reference/functions/the_archive_description/

[2015-02-04 19:55] justintadlock opened #52 "CSS: Link borders"
The theme gives a bottom border to links in the content area.  This border affects images and the audio/video player built into WP.  Things like the player time rail and volume changer get borders, which looks odd.

[2015-02-04 19:59] justintadlock opened #53 "CSS: UL and OL lists"
`<ul>` and `<ol>` lists with multiple levels should have their bottom margins removed beyond the first level  It creates a gap between list items.

Be sure to test with mixed and nested `<ul>` and `<ol>`.

[2015-02-07 04:24] digisavvy opened #55 "Double Check Phpcs auto-fixing via phpcbf"
So, if you're gonna go and do all this work to help out, you're going to become an official collaborator too, so I can assign you issues, haha. =)

What do you think of leveraging Phpcbf in the Gulp Watch task to autofix fixable issues? Also, let me know if Dev looks okay. I'm thinking of merging into master.

[2015-02-07 08:24] desaiuditd commented on #55
Thanks :smile:

I could try this. The only hurdle I see here is whether the gulp utility that we have used for phpcs i.e., `gulp-phpcs` supports `phpcbf` or not. I'll try it out at my end. If t works then we are good.

I'm still having a thought on whether to include it in watch or not. We can add it as separate gulp task. Since many of developers would not want their code to get updated on its ow

[2015-02-08 03:57] #49 closed

[2015-02-08 03:57] #53 closed

[2015-02-08 03:57] digisavvy commented on #52
Replaced w/ text-decoration:underline;

Thanks! =)

[2015-02-08 03:57] #52 closed

[2015-02-08 03:57] digisavvy commented on #51
Doneso!
Thanks.

[2015-02-08 03:57] #51 closed

[2015-02-08 03:58] digisavvy commented on #50
Thanks for this explanation, J-money. =)

It makes total sense and I am in agreement and have made this change. Thank you!

[2015-02-08 03:58] #50 closed

[2015-02-08 04:00] digisavvy commented on #48
Thank you! Learning all sorts of new stuff.

[2015-02-08 04:00] #48 closed

[2015-02-08 04:01] digisavvy commented on #43
Agreed here. Thanks for the catch

[2015-02-08 04:01] #43 closed

[2015-02-08 09:41] desaiuditd commented on #55
Hey @digisavvy I checked out development branch.

I think there's some problem with gulp tasks for JS & CSS. Every time I run `gulp` command, it changes the content of CSS files & `production.js`.

Is it something that I'm doing wrong or anything else ? Can you help me out here ?

[2015-02-08 16:43] digisavvy commented on #55
I have made some changes. What is the error?

The changes I made had to do with bower primarily. The dependent scripts I was pulling in with bower I decided to enqueue instead of combining in production.js. The reason is so theme authors can easily de-queue scripts they don't want to use. So if you have any scripts in the bower_components folder you may want to remove those. Although the developme

[2015-02-08 16:44] digisavvy commented on #45
Thanks for this

[2015-02-08 16:44] #45 closed

[2015-02-08 16:48] #26 closed

[2015-02-08 16:52] #38 closed

[2015-02-08 16:54] #36 closed

[2015-02-08 16:59] digisavvy commented on #55
Just remembered, I did make a change to the jshint task. I removed the vendor directory from getting scanned by the jshint task. This is where I moved the theme dependent scripts like flexnav and modernizr to.

[2015-02-08 17:02] #30 closed

[2015-02-08 18:05] #31 closed

[2015-02-08 18:08] #29 closed

[2015-02-08 18:09] #37 closed

[2015-02-08 18:12] #32 closed

[2015-02-08 18:16] #34 closed

[2015-02-08 18:36] digisavvy commented on #41
Do you mean get_stylesheet_directory_uri()? I'm assuming as much.

[2015-02-08 18:37] #41 closed

[2015-02-08 18:54] justintadlock commented on #41
No, I mean `get_stylesheet_uri()`, which is a different function.  It's the function for loading the theme stylesheet.  `get_stylesheet_directory_uri()` is for referencing the stylesheet directory.

Reference: http://codex.wordpress.org/Function_Reference/get_stylesheet_uri

[2015-02-08 18:55] #46 closed

[2015-02-08 18:56] #47 closed

[2015-02-08 19:03] digisavvy commented on #55
Do another pull; there's a lot of other commits on this branch. I'm just trying to clean up some things here.

[2015-02-08 23:12] #44 closed

[2015-02-08 23:16] #42 closed

[2015-02-08 23:46] #33 closed

[2015-02-08 23:53] digisavvy commented on #55
Derp. Last comment here. I've carried over additional changes into the 1.2 branch. So pull this down and see if you still have issues. Once this is good (which seems close) I'm going to merge into the master branch

[2015-02-09 07:22] desaiuditd commented on #55
Sure. I'll check.

[2015-02-09 07:28] desaiuditd commented on #55
Also, one suggestion. I see lots of branches in this repo, I guess with version numbers.

You can maintain tags instead of branches for your theme versions. That way it's easier to maintain branches.

[2015-02-09 07:35] desaiuditd commented on #55
I checked up with the new changes. All is fine. I guess, the old bower dependencies were causing the problem. It's good to go on master. Thanks :smiley:

[2015-02-09 22:43] koraysels opened #56 "Uncaught ReferenceError: define is not defined"
I've installed everything ran ```npm install```, ```bower install``` and ```gulp``` but i still get javascript errors ... any ideas? did I forget something?

[2015-02-10 16:23] justintadlock commented on #46
Is this the issue you asked about via email?  Did you make sure to remove this line of code from `header.php`?

	<title><?php wp_title( '|', true, 'right' ); ?></title>

[2015-02-11 01:53] digisavvy commented on #55
I've merged into master and created a tag (1.2.1). Can we make sure the phpcs/phpcbf are working properly. There's an issue with validating header.php. Thx.

[2015-02-11 01:59] digisavvy commented on #56
Sorry you're having issues with the theme, man. =)

So, upon installing the theme, run npm install (or sudo npm install, if it needs to be ran as an admin on a mac), and then bower install will get you up and going. Once that's done, you need to just run 'gulp' without the single quotes.

At which point do you see that error?

[2015-02-11 09:54] desaiuditd commented on #55
:+1: That's great :smiley:

I checked out master branch for header.php. There were some issues in phpcs. I've resolved them on my local. Where should I commit them ?

[2015-02-11 09:56] digisavvy commented on #55
Coolio! =) Just commit to master for right now. I'll create a tag from master to perform changes on soon

[2015-02-11 09:56] desaiuditd commented on #55
Also, I checked out for phpcbf task in gulp.

The thing is we have used `gulp-phpcs` npm module for PHPCS task. I digged in further to see whether we can execute phpcbf with that or not. But it seems that `gulp-phpcs` doesn't support phpcbf at the moment. So I'm kind of stuck here for phpcbf. Though phpcs is working smoothly.

Thoughts ?

Ref :

https://github.com/JustBlackBird/gulp-phpcs

[2015-02-11 09:57] desaiuditd commented on #55
Sure. :+1:

[2015-02-11 09:58] digisavvy commented on #55
I came to that same conclusion, too! No worries, though. I'll come back to it eventually and re-examine.

[2015-02-11 09:58] #55 closed

[2015-02-11 10:08] digisavvy opened #57 "Double Checking What PHPCS is looking in"
Just need to verify we're looking at php files in root theme directory, page-templates and that's really it; I don't think we should be checking anything else.

Thoughts?

[2015-02-11 10:53] desaiuditd commented on #57
This is the filter that I've put on phpcs.

[code]

So basically, this will skip following folders/files and scan rest of all.

- `node_modules/*` : Skip everything under `node_modules` folder. This is for npm.
- `vendor/*` : Skip everything under `vendor` folder. This is for composer.
- `assets/bower_components/*` : Skip everything under bower_components. This is for bower.
- `assets/css/*` : Ski

[2015-02-11 16:12] digisavvy commented on #57
Thanks so much. The files you noted are there as a "flimsy security" deterrent to keep people from directly accessing the directory.. I can remove them.

[2015-02-11 23:14] digisavvy commented on #57
Okay, I've removed those files; Header.php is still throwing a few errors and I'm not sure how to resolve.

Also took your advice and consolidated branches down to master and development and used tags for all other release points

[2015-02-11 23:14] #57 closed

[2015-02-11 23:22] digisavvy commented on #46
Hey there, it is the issue and I did do that first thing, but the issue persists... I might have to git bisect this guy, too.

[2015-02-12 14:14] desaiuditd commented on #57
That's cool. :+1:
I've pushed one commit. And phpcs log is clean now.

![screenshot from 2015-02-12 19 43 27](https://cloud.githubusercontent.com/assets/2236554/6168917/75936bb2-b2ef-11e4-854d-2cc865646e0b.png)

Please confirm. :smiley:

[2015-02-12 14:48] digisavvy commented on #57
Boom! Looks good from here, too! Thanks. =)

[2015-02-15 20:34] millo2k opened #58 "Child theme"
Could you give a couple of pointers to create a child theme for it. Do you @import the minified css file of the parent? A quick run through would be appreciated. Thanks

[2015-02-15 22:11] digisavvy commented on #58
Hi there!
Thanks for the question. =)

In thinking about this, a lot has changed since I started to work on this; so child themeing, while possible, requires more thought and I haven't taken time to think through it all that much, honestly. If you plan to use Gulp (which is a big part of the theme) it depends on a number of files being present within the activated theme.

So I did a quick run thro

[2015-02-15 22:16] digisavvy commented on #58
So, if you go this route, it's not necessary to import the parent theme CSS. If you want to keep your changes separate from what is already there. I would add extra scss files to contain your additional mods and import them via app.scss

[2015-02-17 16:38] RyanHipkiss opened #59 "Unhandled throw error on gulp default task run"
Hey,

Upon downloading the latest repository, I installed everything and ran the default gulp task.

However this threw an error at me.

events.js:72
throw er;

//Unhandled throw error;

Sorry there isn't much information here, I can add more if needs be, I just only remembered to submit this issue and I am away from my computer atm.

[2015-02-17 16:40] RyanHipkiss commented on #59
Ignore this. It's probably the fact I don't have bower or composer installed on that computer yet. I've just read the README again! D'oh!

[2015-02-17 16:40] #59 closed

[2015-02-17 16:41] digisavvy commented on #59
Haha. No worries, I was just going to ask if you'd run bower, even I ran into that issue just the other day. =) Let me know how you get sorted out!

[2015-02-18 13:02] millo2k opened #60 "Unhandled 'error' event"
Not sure if this is something I'm doing (or not doing)... But with the newer template (with bower and composer), terminal is throwing up an error. All is fine if updating styles, but the moment I update the page template I get this error in my terminal...

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: write EPIPE
  at errnoException (net.js:904:11)
  at Object.af

[2015-02-18 13:22] millo2k commented on #17
I've come back to this again.... the omega mixin takes away the margin from the right of the first but it then moves the left container over up against the left left column (as it should), it then leaves a space to the right of the right column???

[2015-02-18 17:28] digisavvy commented on #17
If you define omega like `@include omega(block);` it removes the margin on the given element you're using it in.

In this example, omega would remove margins/gutters on any element with the .col style assigned to it. I want to say.
Here's what it looks like: https://www.evernote.com/shard/s2/sh/d39637ec-0b9f-4cf0-9319-8f5e1369c163/7b95c61bb122c45918bbacee42901360
`.col {
	span-colums(2);
}`

In th

[2015-02-18 17:31] digisavvy commented on #60
Sorry you're running into an issue there!

I ran into this, too. Make sure to run bower install in your theme's root dir.

If the issue is still happening, screenshot your theme directory, with the bower folder open.

[2015-02-23 01:06] #56 closed

[2015-02-23 01:06] #60 closed

[2015-02-23 01:06] #35 closed

[2015-02-25 21:14] koraysels commented on #56
When I run the theme.. I mean js errors in the chrome console saying "define is not defined".. I switched to an older version of your theme and there are no problems there;) thanks for your work!

[2015-02-25 22:17] digisavvy commented on #56
Hey there,
Hmm, I'd like to be able to reproduce the issue, but I'm not able to, even on the latest version of the theme... Do you recall the version that was giving you fits?

[2015-02-25 22:17] #58 closed

[2015-02-26 09:32] desaiuditd opened #61 "Yeoman Generator"
Hey, @digisavvy

I checked out the roadmap for the theme and saw that you've Yeoman Generator for Some Like It Neat in pipeline.

I've kind of worked upon the same lines and created yeoman generator for this theme.

https://github.com/moxienyc/generator-moxie-wp

Would you mind taking a look at it. Looking forward to collaboration. :smiley:

CC: @jeffreynolte

[2015-02-26 11:09] RyanHipkiss commented on #59
Yep. I needed to install bower. Note to self - read the README.md

[2015-02-26 17:14] digisavvy commented on #61
Oh cool! =) I'll give it a test spin this week for sure.

[2015-02-26 17:21] jeffreynolte commented on #61
@digisavvy - We also have a bunch of common tasks in our cue for the generator we will be working on relatively soon, some are handled in the theme but I feel we will likely handle some of the setup in the generator depending on where it makes sense to place the logic (theme or generator).  Would love your input and look forward to collaborating more :+1:

[2015-03-03 16:27] nelsonvassalo opened #62 "CSS map"
Hi!

I can't seem to get my minified CSS files to map out to the correspondent SCSS files, even when I'm debug mode in WP. Am I missing something in gulpfile.js?

Thanks!

[2015-03-03 17:10] digisavvy commented on #62
Hey there,
Sorry you're having troubles with the theme. Just a note, CSS files are output to /assets/css - can you verify if you have any files there? Minified files are always output, so that's curious to me.

This is what the CSS folder should look like:
![gulpfile_js_ _digisavvy_dev__somechild_dev__cultstorelocator_dev__innovationinmedtech_dev__somelikeitneat_dev__amla_dev__cultofindividuality_

[2015-03-03 17:17] nelsonvassalo commented on #62
yes, it's indeed giving me both expanded and minified versions in the /css folder but no source map.

[2015-03-03 18:03] digisavvy commented on #62
By default, sourcemaps are disabled
![gulpfile_js_ _digisavvy_dev__somechild_dev__cultstorelocator_dev__innovationinmedtech_dev__somelikeitneat_dev__amla_dev__cultofindividuality_dev__gmuproject_dev__voyagevixens_dev__mobile_template__antaeus_dev__full_mobile_template_6slp9l0w_](https://cloud.githubusercontent.com/assets/984399/6468788/69c26aee-c18c-11e4-960f-af4b793100d0.png)
If you remove the hi

[2015-03-03 18:06] digisavvy commented on #61
So I played with this and I liked what it did. I'm just not sure how this saves me time, over what I'm already doing... That said, I'm happy help and what not, I think it's pretty darn cool in my book.

I guess I'd want to know what the setup looks like as a whole. Is this a part of a greater installation that requires composer to download all the stuff, which creates your wp install or theme inst

[2015-03-06 09:42] millo2k opened #63 "Flexnav menu mobile dropdown"
My test site: http://217.199.187.190/cliftonchildrenshouse.co.uk/

The menu is fine but when on mobile the touch dropdown keeps collapsing and doesnt stay open.

Any ideas?

Thanks

[2015-03-06 14:38] digisavvy commented on #63
The config looks fine and I don't see any errors. The thing I'm noticing is that the menu seems to open on hover AND click. So when you hover then click, the menu is collapsing, so that's the nature of what you're seeing. If you just hover then the menu will open and won't collapse until you mouse-out.

That said, the config of the flexnav menu does look correct. There could be a style that is mes

[2015-03-08 07:05] dotZak commented on #58
I'm also interested in using this as a parent theme and building out a child theme. I've never built a child theme before so maybe this is a stupid question—but I'll ask anyway.

In lines 143 to 167 of *functions.php* under "Vendor Scripts" you're using `get_stylesheet_directory_uri()`:

[code]

This returns the child theme's directory and thus 'modernizer.js', 'selectivizer.js', 'flexnav.js' and

[2015-03-08 20:04] millo2k commented on #63
Thanks for getting back to me.

Your right, for some reason the drop down sub menu is adding the class 'flexnav-show' on hover in mobile! I have no idea why!

I have looked through the stylesheets. I have matched up your original with it but I can't see whats been changed to make this happen.

Any ideas where this kind of style would be found? (I've been looking high and low in components/flexnav)

[2015-03-09 04:01] digisavvy commented on #58
Hey dotZak. Thanks for the question! Apologies I didn't make this more clear and it's confusing and provides an opportunity to correct it. =)

The theme should be friendly to use in a parent/child configuration, although, when I set out building the theme it was really meant to be a standalone theme initially. I went back and made it "friendlier" for child theming later. When I added the tooling f

[2015-03-10 11:11] dotZak commented on #58
Hey, thanks so much for a great answer. I suspected something along those lines was happening.

I've pulled the latest version and I'll play with it some more.

Thanks!

[2015-03-10 14:40] #62 closed

[2015-03-12 03:01] jb510 opened #64 "Project variable needs clarification or changes"
See: https://cloudup.com/c3AsFtBjVTb

It's not clear from the comment in gulpfile.js that "project" is the URL  used for browsersync.

Hence, I put in my theme name 9seeds2014.  So browser sync was looking for 9seeds2014.dev

Worse.  .dev is hard coded.  So, whereas mine is actually lcl.9seeds.com, it's just all wrong.

Personally can just change this in my fork, no biggie.  However...  I think it

[2015-03-12 03:04] digisavvy commented on #64
Hey JB,
Thanks for this! I would love a PR on the dev branch for this, if you'd be open for it.

You are right, hardcoding anything here isn't great. A variable for the project URL is ideal.

[2015-03-12 03:05] jb510 commented on #64
Dude you'er impatient....  5 more seconds and you'd see I did

[2015-03-12 03:06] digisavvy commented on #64
Dude! I was writing my response and I saw  you referencing this. I was trying to watch funny cat vids and this notification came in thru slack.

[2015-03-12 03:07] jb510 commented on #64
Lesson learned.  Interrupting watching cat videos results in wasted time...  next time finish the cat videos first.

[2015-03-12 03:07] jb510 commented on #64
Note I do GitHub PR's wrong more often then right...  let me know if I screwed it up

[2015-03-17 11:22] sunilw opened #65 "browsersync: 'localhost:3000' shows apache default page."
Great that there's a wp starter theme with bourbon. Saves me from building one myself!

When I run 'gulp' the browsersync task starts to run.
If I navigate to 'localhost:3000' I get the "Apache Debian Default Page". It looks like I've navigated to an unconfigured vhost.

Navigating to 'localhost:3001' takes me to the options page for browsersync. So I know that browsersync is actually working.

I

[2015-03-18 00:35] digisavvy commented on #65
Hey there. Sorry you're having issues with the theme. You exposed one area that was sorta haphazardly conceived. In short, it's not you, it's totally me. =)

I'm going to upload an update here and address that. Basically, in your gulp file there is a project configuration area. There's a config for your local site's URL string, which is passed to the browser-sync task. Once you pass the appropriat

[2015-03-18 00:59] sunilw commented on #65
Hey Alex!
Thanks for starting to address this.

I'll stay tuned. Let me know if you need any help testing.

[2015-03-18 01:17] digisavvy commented on #65
Hey there,
This should be good to go if you want to give it a run. In gulpfile.js just be sure to set your project URL, without the http:// prefix of course. Let me know if that sorts you out! =)

[2015-03-18 09:20] sunilw commented on #65
I nuked the theme dir that I'd built from some-like-it-neat. I then cloned latest. Installed the node and bower packages, edited 'project' var in gulpfile...

... and it all works with browsersync!

Thanks Alex!

[2015-03-18 11:28] awroemanto commented on #64
I've just cloned the latest git and the .dev is not there in the browserSync.init and it works just fine
Anyway, @jb510  you should not use your theme name there, instead use the localhost development URL in it exactly like @digisavvy suggested above
For example because I use AMPPS in the development I use
[code]
in the var project (wp is my wordpress roots in AMPPS htdocs)
And in the gulp task br

[2015-03-18 13:41] digisavvy commented on #65
Awesome. Thanks for the update!

[2015-03-18 15:41] digisavvy commented on #64
Got this one completed. Thanks again for the input, JB.

[2015-03-18 15:41] #64 closed

[2015-03-18 15:44] jb510 commented on #64
@awroemanto I think there is some confusion.

The intent of this PR was to do to things.
1) Clarify that the project var is the PROJECT NAME, not a url
2) Explicitly define a browsersync URL

In your example you want to use my PR, and set the URL value to 0.0.0.0/wp/, that's your browser sync url.

'project' gets used elsewhere in the gulpfile (build, zip, etc...)

[2015-03-18 15:46] jb510 commented on #64
@digisavvy wait no, I review what you committed here https://github.com/digisavvy/some-like-it-neat/commit/5fdf798dbf169bb1f5368db0d28d476f82c7a198 and it doesn't split project and url things, it just removed  .dev, but that doesn't work for the broswersync url.  I think that's what caused the problem @awroemanto was having.

[2015-03-18 22:27] millo2k opened #67 "Error on gulp command - bower repsonsible?"
Thought id got everyhting working, then ran 'gulp'. It watfhes the file then crashes out with:

 gulp-ruby-sass: directory
[22:17:05] Plumber found unhandled error:
 Error in plugin 'gulp-ruby-sass'
Message:
    error rtl.scss (Line 1: File to import not found or unreadable: ../../assets/bower_components/bi-app-sass/bi-app/bi-app-rtl.

Had a look back at my bower install command and see this:
bowe

[2015-03-18 22:36] digisavvy commented on #67
Odd. Try running 'bower install' and then try to run gulp again.

[2015-03-18 22:49] millo2k commented on #67
Yeah I've done it several times. Tried going through the whole install but its the same thing

[2015-03-18 22:54] digisavvy commented on #67
That's really strange. What does your bower.json file look like? Can you paste its contents here?

I'm wondering if you try removing the bower_components folder, then run 'bower install' and then run 'bower update --save' if that helps.

[2015-03-18 23:27] millo2k commented on #67
Tried doing what you said, still no joy.

Bower file is:
{
  "name": "some-like-it-neat",
  "version": "1.0.1",
  "homepage": "http://alexhasnicehair.com",
  "authors": [
    "Alex Vasquez <alexjvas@gmail.com>"
  ],
  "dependencies": {
    "bourbon": "~4.1",
    "neat": "~1.7",
    "bi-app-sass": "latest"
  },
  "resolutions": {
    "bourbon": "~4.2.1"
  }
}

The full error I get is:
gulp-ruby-sas

[2015-03-18 23:37] millo2k commented on #67
Ttied to run through the whole process again, I notice this at the end of installing gulp, after the success message:

npm ERR! EEXIST, open '/Users/Millist/.npm/3b24c421-t-npm-through2-0-6-3-package-tgz.lock'
File exists: /Users/Millist/.npm/3b24c421-t-npm-through2-0-6-3-package-tgz.lock
Move it away, and try again.

npm ERR! System Darwin 12.4.0
npm ERR! command "node" "/usr/local/bin/npm" "inst

[2015-03-19 00:14] digisavvy commented on #67
Hmm. I'd be willing to do a screenshare or something like that to take a closer look.

[2015-03-19 03:23] awroemanto commented on #64
Thanks @jb510 I realize that yesterday I got confused with your first comment mistaking the PR with a question thats why I immediately delete my comment. But the things with browser-sync is fine now in my end.

[2015-03-19 03:29] jb510 commented on #64
Awesome! Glad we got it all worked out.

[2015-03-19 09:37] millo2k commented on #67
Thats very kind, that might be a shout.

I have tried it on my machine at work. There were no error messages in installing anything but once again when it came to running gulp:

gulp-ruby-sass: directory
[23:26:11] Plumber found unhandled error:
Error in plugin 'gulp-ruby-sass'
Message:
error rtl.scss (Line 1: File to import not found or unreadable: ../../assets/bower_components/bi-app-sass/bi-app

[2015-03-19 09:51] millo2k commented on #67
Its worth mentioning that on both my home and work machines I installed the theme about a week ago and are working fine. For some reason the bower components/bi-app-sass folder is empty on the new installs

[2015-03-20 16:37] digisavvy commented on #67
That's interesting. I have time this weekend to work with you. Certainly strange. I'm also wondering if you get this same issue with previous versions, too. Let's try to hash out a time to do a screenshare.

[2015-03-20 18:52] jacobarriola commented on #67
Hey there,

I found similar symptoms when using gulp-ruby-sass.  It seems as though the plugin was bringing in files from other projects, which caused a lot of the similar errors you are getting. Apparently, the plugin creates a temp folder to do its magic.  Unless specified it will call it ‘gulp-ruby-sass’, which is why files from multiple projects were getting mixed up.  Documentation is in the

[2015-03-21 07:16] sunilw commented on #65
Hey Alex.

After a git pull from master this issue has risen again.

[2015-03-21 07:21] sunilw commented on #65
I'm mistaken.

I had neglected to edit the 'url' value in gulpfile.js

[2015-03-21 07:21] #65 closed

[2015-03-21 09:01] sunilw opened #68 "feature request: editorconfig file"
Hey Alex.
I *might* end up contributing code back.

I've forked and I'll basically be modifying the project to match my favoured settiings for a project starter.
However I'm basically using the per-language defaults of my editor - gnu emacs.
I swear, if you want to pull any of my changes in, you are going to be annoyed that many of the files will be exactly the same except for indentation.

If you

[2015-03-21 18:16] millo2k commented on #67
Thanks for the help guys. I just really think something has changed in the last few commits to stop the folder bringing in the required files. Think I might just use the older version that seems to work on my machines. Perhaps I'll try a new version a little way down the line. Thanks guys

[2015-03-21 18:51] digisavvy commented on #67
Yeah, I'm going to work on this, this weekend. I agree a commit might have bombed something out.

But, for me to reproduce, I should clone down a new version of the repo?

[2015-03-22 00:45] digisavvy commented on #67
I can't seem to replicate the issue you're experiencing. I'd still like to hop on a screenshare. The errors you see when bower installs bi-app-sass I also see, but it does resolve correctly and downloads bi-app-sass for me, so that's also curious. If you have some time, let me know when works.  I know we have a time difference, so I'm open.

[2015-04-02 14:15] #67 closed

[2015-04-02 16:38] ginblue opened #69 "Build Error"
Getting an error when running gulp build.

Don't think this is a theme issue, just hoping someone has come across it and has a solution. Think it maybe some kind of permission issue but not sure.

More designer than developer and never used these build tools before, so please forgive me if i've missed the obvious.

C:\Program Files\Ampps\www\retro-events-SLiN\wp-content\themes\retroevents>gulp
bui

[2015-04-04 16:51] digisavvy commented on #69
WOrking on this, Anthony. Thanks for reporting.

[2015-04-04 23:37] digisavvy commented on #69
The latest development push should contain a fix for this that you can try out. You can copy the gulpfile.js  contents to your current project to see if that helps

[2015-04-08 05:34] #69 closed

[2015-04-16 16:57] ginblue opened #70 "Just A Couple Of Things"
Started building a them with SLIT today, and have run into a couple of issues (maybe I'm one of them).

Found and removed duplicate call for comments - template-right-col.php - line 45 (assuming this should not be there).

I cannot get a page with left sidebar to work. Made new page, used sidebar left template, but displaying page with right sidebar. Cant see where '_template-2col-r-sidebar.scss'

[2015-04-18 21:12] digisavvy commented on #70
Hey Anthony,
Sorry about the delay here. Busy week!
You're spot on about the left sidebar issue in the left sidebar template. I went ahead and resolved that issue with the help of flexnav. =)

FlexNav jumping issue. That's more a problem with the script itself; I've resolved the issue which keeps it from happening, the problem is that when the menu collapses, it's no longer smooth. Can't seem to f

[2015-04-18 21:12] #70 closed

[2015-04-19 07:26] ginblue commented on #70
Hi Alex,
Thanks for the reply.

I often use SlickNav and will give a try in SLiN. Let you know how it goes.

Finding Neat breakpoints a little confusing for some reason, so thanks for
clarifying that for me!

Keep up the good work, looking forward to seeing this framework develop.

Anthony

On Sat, 18 Apr 2015 22:12:36 +0100, Alex Vasquez
<notifications@github.com> wrote:

--
Using Opera's mail cl

[2015-04-27 12:54] millo2k opened #71 "Page title twice"
It seems the page title is appearing twice on all pages (in the browser tabs).... I've not done anything to it. Any ideas?

[2015-04-28 07:22] millo2k commented on #71
So it reads:
Site Name | Page TitlePageTitle

I have looked through a load of files but cant see where this is being produced from???

[2015-04-28 07:23] millo2k commented on #71
I have no SEO plugins and have disabled the three plugins I am using and theres no change.

Any ideas?

Thanks

[2015-04-28 15:25] digisavvy commented on #71
Hey there,
This issue has been resolved. There was some legacy filter adding an extra title there, it's been removed and pushed.

[2015-04-28 15:25] #71 closed

[2015-04-28 16:27] millo2k commented on #71
Brilliant, I'm still having problems with the newer template so dont want to pull the new files. Could you let me know where to change it? Thanks

[2015-04-30 07:52] millo2k opened #72 "legacy filter for page title"
Could you let me know where the legacy filter is thats adding a second page title. If at all possible I want to avoid pulling a new version of the theme.

Thanks

[2015-04-30 18:04] digisavvy commented on #72
Sure. Check out this commit: https://github.com/digisavvy/some-like-it-neat/commit/e87f864a358c2f788092d0a63546470301ce1be1 and look at the extra.php file there for the wp_title function. Hopefully that gets you sorted out.

[2015-04-30 18:04] #72 closed

[2015-05-05 00:13] onlyskyguy opened #74 "BrowserSync Issue"
I get the below error after running the default task. It's triggered by the line:gulp.watch(source+'js/app/**/*.js', ['js', browserSync.reload]);
Anyone have any ideas why browserSync.reload is doing this?

/node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/lib/Receiver.js:222
  if (!this.state.fragmentedOperation) this.unfragmentedBufferPool.reset(true)

[2015-05-05 15:52] digisavvy commented on #74
That's definitely an odd one. Can you post your gulpfile?

Another quick thing to try is to update the BrowserSync package.

[2015-05-05 21:08] onlyskyguy commented on #74
Haven't modified the gulpfile beyond changing the local development url. I'm running VVV (vagrant) for the development server on my machine. Could there be a problem with this?

[2015-05-05 21:58] jeffreynolte opened #75 "Add documentation for PHPCS"

[2015-05-05 23:37] digisavvy commented on #74
I've never tested w/ VVV to be honest, so I imagine that would definitely need to be taken into consideration; you might need to modify your config. Have a look at this topic: https://github.com/BrowserSync/browser-sync/issues/284 - But from what I've seen folks have been able to set it up; at some point I'll test with that config.

[2015-05-06 00:41] onlyskyguy commented on #74
Ugh, now getting this error randomly:

events.js:85
      throw er; // Unhandled 'error' event
            ^
Error: write EPIPE
  at exports._errnoException (util.js:746:11)
  at WriteWrap.afterWrite (net.js:766:14)

[2015-05-06 19:00] onlyskyguy commented on #74
@digisavvy Any idea on the above?

[2015-05-06 19:43] digisavvy commented on #74
The error seems to indicate a possible linting error. So I'm curious if you're using any custom javascript in your project. The linter will check files placed in assets/js/app

[2015-05-06 19:48] onlyskyguy commented on #74
I just cloned the repo and ran gulp

[2015-05-06 19:58] digisavvy commented on #74
Hmm. Before running gulp, I'm assuming you rand  'npm install,' in addition you need to run 'bower install' and then 'php composer.phar install'. Can you confirm each of those ran okay?

[2015-05-06 19:59] onlyskyguy commented on #74
Yes did all of these. Also I just tried running gulp browser-sync by itself and I haven't gotten the error ...yet.

[2015-05-06 20:05] digisavvy commented on #74
To quote my man, Clay Davis, "Sheeeeeiiiiiiiiiiiiiiiiiiiiiiiiiit..."

I'm curious if you can pinpoint a specific task that is throwing out the error. I'm not able to replicate, but if we can track down the task and related packages that could be a good start.

[2015-05-06 20:09] digisavvy commented on #74
Well, many of the packages also need an update, too.

[code]

[2015-05-07 01:23] onlyskyguy commented on #74
Sadly, all that does is run the browser-sync task which just reloads the page when php files or images are changed.

I'm not getting anything else working (the important stuff) like injecting css, minifying, etc etc.

What in this gulp config could cause gulp to break for me? I'm using everything out of the box without any change in config.

[2015-05-07 01:37] onlyskyguy commented on #74
Ok I tried the gulp task without phpcs... and no error so far. That seems to be the crux of it.

[2015-05-07 15:31] digisavvy commented on #74
Ah. Okay. Phpcs. So, what I've found is that you need to add the location of PHPCS to your environment $PATH. Not sure if you're on windows, mac or something else, but if you do that, you should be sorted.

[2015-05-07 15:31] #74 closed

[2015-05-07 15:33] digisavvy commented on #75
You sound like my mom! ;-)

[2015-05-07 16:20] jeffreynolte commented on #75
Ooof! That was harsh.  Haha

[2015-05-07 16:22] digisavvy commented on #75
I do need to flesh this part out. One of the things I see is that folks will try to run gulp and it bombs out, due to PHPCS not available or found. Is there a reliable way to install "globally" and then set the path variable? I've only been able to do this when adding my specific theme directory to the $PATH variable. Just curious if you had any thoughts there. Thanks, ma. =)

[2015-05-07 16:26] jeffreynolte commented on #75
We are using the theme on all the projects now along with Travis CI so figuring this out would be a big help for us since we can have our team reference the docs and setup rather than having the builds fail at TCI.   I know Udit has some experience with this, adding him in to the convo.

cc/ @desaiuditd

[2015-05-07 16:34] digisavvy commented on #75
Wow. That's pretty cool! =) Would love to see a site or two in the wild running it!

But, yeah, if we can make the phpcs implementation a bit smoother, then that would be rad.

[2015-05-08 20:45] gaving commented on #55
FWIW I've wrapped phpcbf for gulp over here: https://github.com/gaving/gulp-phpcbf if anyone wants to check it out.

[2015-05-11 23:43] onlyskyguy opened #78 "Javascript & Bower Dependencies"
How is the theme currently setup to use bower dependencies? I see there's a JS assets folder that gets processed by gulp, but the build task removes the bower folder... does it move the files and process them first (minify etc)?

I'd like to include some conditional scripts that only run on certain pages. I'd rather not have that code sitting in one big minified file if I used the JS Files for the

[2015-05-12 08:10] digisavvy commented on #78
The theme has three dependencies controlled via Bower: Bourbon, Neat and Bi-app-sass. Their scss files are compiled into the main site's css. So not having the bower_components folder affects nothing. However, if you wish to continue developing the theme, then you'll need to run bower install again.

As for custom JS. Any files you place in assets/js/app are concatenated and minified. So it's best

[2015-05-13 18:44] bjorn2404 opened #79 "Body color in ltr and rtl"
I'm probably just misunderstanding how this is set up but I can't figure out why the body color is set to #000 in @include ltr and @include rtl in /assets/sass/layouts/_structure.scss instead of using a color variable such as $base-font-color.

[2015-05-13 18:51] #78 closed

[2015-05-13 19:32] digisavvy commented on #79
Hey there,
Thanks for creating this issue. You're not misunderstanding anything. I've gone through and updated the theme to make use of color variables, it had been on my 'to-do' for some time. Thanks for the nudge. =)

The update is in the dev branch right now. I'll merge into master soon.

[2015-05-13 19:32] #79 closed

[2015-05-13 21:01] bjorn2404 commented on #79
Great, thanks.

[2015-05-24 12:35] anghelos opened #80 "Wrong URL for node js in "Prerequisites""
The link to download Node.js sends to nodejs.com (a Chinese fake Google?) instead of nodejs.org :)

[2015-05-25 03:03] digisavvy commented on #80
Thanks @anghelos, I've corrected this. =)

[2015-05-25 03:03] #80 closed

[2015-06-03 18:08] #40 closed

[2015-06-03 18:09] #9 closed

[2015-06-03 18:10] #63 closed

[2015-06-03 18:11] digisavvy commented on #68
Hey Sunil,
Sorry for the lag here. I'm definitely open to this, if you're still interested. I'll close this for now. Should you decide to contribute an editorconfig file, please do so on the dev branch

[2015-06-03 18:11] #68 closed

[2015-06-15 06:23] adrianocr commented on #67
Anyway I can reopen this issue? I'm having the same problem.

[2015-06-25 15:37] luckyluke007 opened #83 "Errors | What am I missing?"
[code]

[2015-07-01 06:49] mroesele commented on #67
In my case the folder /assets/bower_components was empty.
For me, running 'bower install' again solved the problem.

[2015-07-02 14:37] mroesele opened #84 "Issues with own js files."
Hi there, I am trying to get familiar with "some like it neat" and would like to use it in my latest wp project.
First of all, I am very impressed by this theme and the whole workflow. Thanks a lot for your great work.

But there is something I would like to share with you.
I had some troubles getting a simple js alert to work.
I created a new js file and placed it in /assets/js/app/test.js

It to

[2015-07-09 07:41] mroesele opened #85 "Gulp file watcher only watches existing files"
I have noticed that newly created assets like sass files do not trigger concatenation and browser reload while running gulp. After adding a new file you have to stop and restart the gulp task.
Can this be fixed somehow? Can someone help?

By the way, I am working with some like it neat for a few days and it really changed my workflow to the better. Thanks for the great work!

[2015-07-16 15:22] mroesele commented on #83
Experiencing the same issues with "Filename "STDIN" doesn't match the expected filename "stdin" for every php file. Decided to just ignore that :)

[2015-09-09 08:05] dannywilson opened #87 "Composer.phar in Repo"
Hi,

I'm not sure why this is included in the repo? Seems a little weird since you should really be installing composer globally. If there is a reason this is included could you let me know? If not I'm more than happy to update the repo and send a PR.

Ta,
Danny

[2015-09-14 07:59] prikkprikkprikk opened #88 "gulp-run-sequence has been renamed"
<code>npm install</code> gives a warning about gulp-run-sequence on line 19:

    npm WARN deprecated gulp-run-sequence@0.3.2: Renamed to run-sequence as it's not really a gulp plugin.

[2015-09-14 12:17] prikkprikkprikk opened #89 "Does not work with node v4"
Upgrading to Node v4 breaks stuff horribly. I'm sorry I'm not competent enough to pinpoint what exactly …

[2015-09-14 12:50] prikkprikkprikk commented on #83
Seeing the same thing …

[2015-10-06 20:31] adrianocr commented on #89
I'm going to try to fix all the Node 4 issues and if I manage to I'll attempt to merge it back here.

[2015-10-17 13:15] siwise opened #91 "gulp: command not found after going through all steps"
I have followed installation guide. But gulp command not found. Please help. If gulp is installed globally, gulp command works but styling doesn't get applied. I have tried everything workaround with no luck.

[2015-11-06 17:16] wjramos commented on #91
Are you gulping from the theme root? you need to gulp within a directory with a gulpfile to instruct it what to do

[2015-11-07 00:59] siwise commented on #91
I am gulping from the theme root with a gulpfile in that directory. Maybe I'm not using the correct versions of the other dependencies? What version of node and npm are recommended. I don't remember seeing this in documentation.

[2015-11-07 03:49] digisavvy commented on #91
Hey guys,
I'm pushing up an update here shortly that "should" resolve these issues. Check the master branch and pull it down and try again.

[2015-11-07 03:54] digisavvy commented on #89
I've been out and away on this, I'll be testing and see if I can resolve.

[2015-11-07 20:04] digisavvy commented on #89
@prikkprikkprikk @adrianocr, I have resolved the Node 4x issues; SLIN does work with NPM 4 and 5 now. The issue boiled down to streaming with the combine media queries plugin; I replaced it with another one and that seemed to resolve the issue. Try it out. =)

[2015-11-07 20:04] #89 closed

[2015-11-07 20:06] digisavvy commented on #87
@dannywilson, sorry about that. I'd be happy to accept a PR (several months after your post), I didn't really know better honestly. LEt me know your thoughts there.

[2015-11-07 20:07] digisavvy commented on #83
@prikkprikkprikk @mroesele - There's a known issue on this are noted here: https://github.com/squizlabs/PHP_CodeSniffer/issues/711 - I'd like to work on a fix, just haven't had much luck yet. I may remove phpcs if I can't get it working properly.

[2015-11-07 20:09] digisavvy commented on #91
@siwise - What version of Node are you using? Run 'node -v'.

[2015-11-12 00:12] siwise commented on #91
I originally downloaded 4.2.2 from the link in documentation.

[2015-11-12 15:36] digisavvy commented on #91
Ok, good! =)

So what happens when you run `npm install`?

[2015-11-13 16:04] louisnovick commented on #84
In the latest version they seem to be commented out in the functions.php file.  I suppose that's ok but I do agree that out of the box they should be active :)

[2015-11-14 00:49] digisavvy commented on #84
@louisnovick @mroesele, I've heeded your input and these scripts are not available by default. =)

Thanks.

[2015-11-14 00:49] #84 closed

[2015-11-14 00:49] digisavvy commented on #88
This has been updated in the latest version @prikkprikkprikk. Thanks. =)

[2015-11-14 00:49] #88 closed

[2015-11-17 02:10] jkinley opened #93 "CodeKit Error"
I can't make edits to scss files. For example, _header.scss. CodeKit throws up an error:

[code]
What I notice is that it is complaining about bi-app-sass. Upon further inspection, I see that there is suppose to be a bower_components directory under assets in your folder structure diagram, but there is no such directory in the repository. I am pretty new with all these task runners and such, do I

[2015-11-20 07:55] digisavvy commented on #93
@jkinley I wouldn't recommend using codekit with this theme. It's built for use with Gulp, which is like a command line version of codekit (and much cooler) =). What you're seeing is that your bower components haven't been installed. Refer to the readme and go through each installation step and then you should be set and ready to go. This theme has a few steps you need to go through before you can

[2015-11-20 07:56] digisavvy commented on #91
@siwise just following up on this issue. Still having the problem?

[2015-12-01 00:39] siwise commented on #91
Hi, Sorry for slow reply. I am still having the same issue. On npm install
i get these warnings -

npm WARN deprecated gulp-run-sequence@0.3.2: Renamed to run-sequence as
it's not really a gulp plugin.
npm WARN deprecated lodash@2.4.2: lodash@<3.0.0 is no longer maintained.
Upgrade to lodash@^3.0.0.
npm WARN deprecated lodash@1.0.2: lodash@<3.0.0 is no longer maintained.
Upgrade to lodash@^3.0.0.

[2015-12-01 16:35] digisavvy commented on #91
Hmm interesting. So there is a newer version of SLIN if you want to download and try it out. It addresses the gulp run sequence warning—although that should cause an issue. In your Node Modules folder, do you see gulp in your list of folders? See here: https://www.evernote.com/l/AALISOyZ-_9Bo5FCiKFJWRIGsg3Yr1DWAMk — it seems that Gulp just isn't installing, which is odd.

And no worries at all, I'

[2015-12-01 22:34] siwise commented on #91
Gulp folders exist in Node Modules (see attached).
I am currently working with the Sage Theme which uses gulp fine. I wonder
why it isn't working with SLIN. SLIN sounds awesome, I was looking forward
to playing around with it.

I cloned SLIN from Github yesterday, would that be the new version?

On Wed, Dec 2, 2015 at 1:35 AM, Alex Vasquez <notifications@github.com>
wrote:

[2015-12-01 22:38] digisavvy commented on #91
I'm perplexed! Not sure why it's not doing it's thing. Can you post your gulp file here.

[2015-12-02 23:51] siwise commented on #91
I haven't changed the gulp file except for the var project and var url.

On Wed, Dec 2, 2015 at 7:38 AM, Alex Vasquez <notifications@github.com>
wrote:

[2015-12-13 09:59] socheon opened #94 "Unhandled 'error' event"
Anyone got this error when running `gulp`?

[code]

[2015-12-13 10:26] socheon commented on #94
I figured out. I ignored this step `php composer.phar install`

[2015-12-13 10:26] #94 closed

[2015-12-13 21:24] jjloomis commented on #91
Hi @siwise. Are you using NVM?

[2015-12-14 02:09] siwise commented on #91
I used the standard version of node.js npm initially but when I couldn't get it to work I then changed to nvm to see if that changed anything. Any recommendations? 

—
Simon Wise

On Mon, Dec 14, 2015 at 6:24 AM, JJ Loomis <notifications@github.com>
wrote:

[2015-12-14 03:00] jjloomis commented on #91
From an earlier post it looks like you installed 4.2.2. Make sure you that's your default version every time you open a terminal window by using nvm alias default 4.2.2. Then, in terminal, do a Command T to open a new terminal window. (Do an nvm ls to make sure 4.2.2 is your current version of node.js and your default.) In terminal, navigate to the root of your some-like-it-neat (or whatever you'v

[2016-01-09 23:51] TimothyAFernandez opened #95 "Javascript development.js and production-min.js not being produced and zip not working"
Hey All!

I've been using "some-like-it-neat" for the development of a recent theme for a client and It's an incredible set of tools.

I am experiencing a couple of problems with the gulp commands, specifically when using "gulp build" unfortunately the development.js and minified production.js are not being produced and the file isn't zipping.

I've installed gulp locally in the theme root folder

[2016-01-15 14:42] playcodestudio commented on #95
I have the same problem, can anyone help us?

[2016-02-04 07:58] digisavvy commented on #95
Sorry for the delay on this. Can you verify that this is still an issue? Try the development branch. I've been running through this and can't replicate the error. Any error messages will help. Thanks.

[2016-02-04 07:58] digisavvy commented on #93
I'm closing this one out.

[2016-02-04 07:58] #93 closed

[2016-02-04 07:59] #91 closed

[2016-02-04 08:00] digisavvy commented on #87
I've since removed composer from this project. At least for the time being. I'd like to figure out how best to handle certain tools like code sniffing and the like.

[2016-02-04 08:00] #87 closed

[2016-02-04 08:01] digisavvy commented on #85
That's great. So far, this is an issue I cannot address. If you add a new file in sass, you have to stop and restart gulp for now anyway.

[2016-02-04 08:01] #85 closed

[2016-02-04 08:02] digisavvy commented on #83
I've removed phpcodesniffer from the project. I was having weird issues with it. I'll come back to this at some point.

[2016-02-04 08:02] #83 closed

[2016-02-04 08:02] #75 closed

[2016-02-04 08:02] #61 closed

[2016-02-06 19:02] digisavvy commented on #39
Happy to close this one out finally. Used gulp-replace to remove.

[2016-02-06 19:02] #39 closed

[2016-02-17 00:21] hasnat-babur commented on #84
I am feared about the js task. They could be more flexible like Roots Sage.

[2016-02-25 12:54] hasnat-babur opened #99 "Very Slow Gulp Process Even In High End PC"
Hi,
First of all thanks for developing such beautiful starter theme.

I have noticed some important things with this some-like-it-neat starter theme.

Before this, I have tested Roots Sage starter theme, build tool like gulp works very fast out of the box with amazing features.

I am not getting proper compile speed using Some-Like-It-Neat anyway. I have heard this problem from others too.

It wou

[2016-02-26 16:38] playcodestudio commented on #95
I'm sorry for the delay to my reply.
I've installed again gulp and the theme (1.3.7) locally and all seems to work fine except the javascript (`development.js` and `production-min.js`) and custom javascript.

I created a custom js file (custom.js) in assets/js/app directory with this this code
[code]

When run Gulp, `development.js` and `production-min.js` files are created but the alert doesn't w

[2016-02-27 07:30] digisavvy commented on #95
Hey @playcodestudio, I think I may know what's wrong here.

The logic loading the scripts was wrong. In a recent update a suffix was added to the development.js file, which was incorrect. I've fixed that. This should work as expected now.

[2016-02-27 07:30] #95 closed

[2016-02-27 07:31] digisavvy commented on #99
Hello @hasnat-babur, sorry you're seeing troubles there. I've ran both sage and my slin locally. Slin actually loads faster for me. I'd like to troubleshoot this further.

How long does slin take to run through gulp?

[2016-03-04 05:04] hasnat-babur commented on #99
Hi, Thanks for your reply. SLIN gulp works fine at initial. After working about an hours SLIN gulp process becomes very slow, sometimes only sass compile time takes 5-10 seconds, even sometimes take 15 seconds to complete sass compile. Although I am creating only one css, js file perspectively rather than creating both minified and develop version. Thanks.

[2016-03-11 08:31] commwork opened #101 "Phpcs task in gulpfile.js?"
Hello,
you said:

But I can't find something about "Phpcs" in the gulpfile.js?
Btw. I need to run `composer install` on windows 10 - `php composer.phar install` doesn't work.
Thanks for this.

[2016-06-17 15:20] #101 closed

[2016-07-15 14:04] millo2k opened #102 "Is Refills included in this package?"
Hi there, I've tried adding the code for a refills navigation to a website which is using Some like it neat, but its just unstyled, non functional - should I be adding it in separately or something?

[2016-08-26 06:09] digisavvy commented on #102
Wow buddy. Sorry for such a laggy response. No, SLiN doesn't use refills. But I have used the patterns from Refills on other projects. I usually create separate sass files for any styles and I'll run a single .js file where i'll place any relevant javascript.

[2016-08-26 06:09] #102 closed

[2016-09-05 22:40] hasnat-babur commented on #99
Solved! Hi ... After installing SLIN, I updated node packages and everything works perfect and faster! Thanks a lot for this awesome extra ordinary starter theme. It's my choice for most large themes. Thanks.

[2016-09-05 22:40] #99 closed

[2016-09-05 22:48] hasnat-babur commented on #85
hi, just add an space or tab in your main or old scss file, then save, everything will work fine ...

[2016-09-13 04:14] digisavvy commented on #85
@mroesele, @hasnat-babur's suggestion works, too. Hope that helps.

[2016-09-14 12:32] matalina opened #107 "URL in gulpfile"
What is the url file used for?  I'm developing it one one url and will be deploying it on another url.  What is this config variable in the gulpfile.js used for?

[2016-09-14 13:39] hasnat-babur commented on #85
when you add a file ... pls do not use ./ before root folder, i.e. './assets/css/**/*.css' format, just use 'assets/css/**/*.css' as folder path and gulp will work for new files. It worked for me .. thanks

[2016-09-14 16:13] digisavvy commented on #107
@matalina - That parameter is used to define what URL should be used in Browsersync, so you can benefit from live reload when making changes to scss and php files.

[2016-09-14 16:13] #107 closed

[2016-09-16 10:23] Henry-Cullen opened #108 "Missing production.js & development.js from this version"
Hi
I'm just getting started with bourbon & neat and I may well be asking a dumb question.
I first found S.L.I.N. in the WP repository, and then here, but the 2 versions are quite different in their directory structure.

That's fine I woudn't always expect them to be the same, but when I put my S.L.I.N. master version ( from here ) into DEBUG I noticed 404's coming from a missing development.js fil

[2016-10-13 13:21] millo2k opened #109 "File to import not found"
Hi there,

I just tried using a fresh copy of the theme and when I'm trying to run gulp it keeps throwing back lots of files missing...

Looks like its trying to find a bourbon-neat folder that doesnt exist in node_modules

Like I say I've not changed anything, its  a fresh theme install

[2017-02-08 23:17] jacobarriola opened #110 "Need a 'how to contribute' guide"
I ran into issues on a previous PR because I wasn't familiar to the project's contribution workflow.

Thanks!

[2017-02-14 13:52] millo2k commented on #109
Still the same as far as I can tell

[2017-02-26 00:50] televators commented on #108
I just got started with S.L.I.N. today and am having the same issue. Pretty annoying, right? I'm pretty much where you were when you posted. Have you found a fix yet? I'm wayyyy behind on a client's work and I NEEEEED this to be smooth and working. I guess I'll try out your method of using the production.js until it's fixed.

[2017-02-26 00:52] televators commented on #109
Looks like @digisavvy hasn't been active on here since last fall. What OS are you on? I might be able to help in the mean-time.

[2017-03-21 13:36] ARXChrono opened #111 "npm install error, missing dependencies."
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules\chokidar\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.1: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"ia32"})
npm WARN gulp-jshint@2.0.4 requires a peer of jshint@2.x but none was installed.

I:\xxxx\xampp\htdocs\wp-content\themes\xxxx>

[2017-03-24 00:09] digisavvy commented on #111
Hey there,
I'm still looking into this issue.
What I have found to work around it is to do the following:
- run `npm gulp-jshint' and that seems to help resolve that issue.

[2017-03-24 04:44] digisavvy commented on #111
Alrighty, this has been addressed here: 09989b2fa3fc866ea1db83388f57a1d0c8aa5f04

[2017-03-24 04:44] #111 closed

[2017-03-27 03:09] digisavvy commented on #109
Hey folks, I got around to taking a look at this issue a bit more. This may be an uglier way of dealing with this.

`
        $directory = get_template_directory() . '/assets/js/app/';
        $files = glob($directory . '*.js');
        if ( $files !== false )
        {
            $filecount = count( $files );

            if ( ! $filecount == 0 ) {
                if ( SCRIPT_DEBUG || WP_DEBUG )

[2017-03-27 03:16] digisavvy commented on #109
The above code should be used to replace the existing SCRIPT_DEBUG calls.

[2017-03-30 05:42] digisavvy commented on #109
Hey folks, this has been resolved. So sorry for the delay here.

[2017-03-30 05:42] #109 closed

[2017-03-30 05:43] digisavvy commented on #108
For other folks who may run into this issue, it's been resolved here: https://github.com/digisavvy/some-like-it-neat/commit/3c3e6e961a9fcb6b5d2ab425203a6e4f133df177

[2017-03-30 05:43] #108 closed

[2017-06-12 05:08] digisavvy opened #115 "(Development)"
Having issues running PHPCS when running Gulp.

[code]

[2017-06-17 01:06] #115 closed

[2017-09-19 21:23] crbarnett opened #116 "Is infinite scroll still available?"
Hello, trying to get infinite scroll enabled for the main blog page.
http://www.asalesguy.com/sales-blog/

Mentioned here, it sounds like it should work. https://github.com/digisavvy/some-like-it-neat#infinite-scroll-and-jetpack

"Requires that you have Jetpack installed and have configured the plugin to use Infinite Scroll."
I have jetpack enabled, but it is telling me under theme enhancements th

[2017-09-20 22:00] digisavvy commented on #116
Hey @crbarnett -
Thanks for writing in. So there's been a lot of updates since 1.3.8. But if you go to Customizer > General Site Content Settings > Content Extras you should see a setting there to enable Infinite Scroll. If it's not set to yes then you'll see that message.

If you don't see that message, then it's possible it wasn't implemented by that point.

If it interests you, the most recent

[2017-09-27 01:04] #116 closed

[2017-10-25 01:12] crbarnett opened #117 "CSS breaks after update to 1.5.0"
The version 1.3.8 we have running on the [live site is working](http://www.asalesguy.com/).

We've cloned the site to a [staging environment](http://asalesguy.staging.wpengine.com/), installed the latest 1.5.0 theme package, and upon activating the new version there seems to be no CSS rendered on the page.

The site is hosted on WP Engine, where we don't have access to command line tools. They cou

[2017-10-27 00:48] digisavvy commented on #117
Hey @crbarnett -
Best thing to do is to run gulp on your local setup, it will generate the necessary CSS files for you, then upload those to your staging server.

[2017-12-13 15:22] amklose opened #118 "Which branch should I start with"
Hi there, I would like to try this theme and create a child theme from it, but I see the development branch is 250 commits ahead of master. Is the development branch ok to use on a production site or are there any major bugs that you're aware of?

[2017-12-13 22:47] amklose opened #119 "headroom not found"
When I try running gulp for the first time, it errors out because it can't find the "headroom" scss that is being imported into /assets/sass/vendor/__vendor-dir.scss

I can't find anywhere where it's loading that library. Should that be in composer.json or package.json somewhere?

[2018-03-06 20:36] digisavvy commented on #119
oh man, super sorry @amklose. Probably not using this now are ya? I fixed this issue. My .gitignore needed to be adjusted. I pushed up the latest version to the master branch, which is what you should use.

[2018-03-06 20:36] #119 closed

[2018-03-06 21:57] digisavvy commented on #118
Per my comment in https://github.com/digisavvy/some-like-it-neat/issues/119 start with `master`. However, development will always be the most current branch and is typically stable.

[2018-03-06 21:57] #118 closed

[2018-03-06 21:57] #117 closed

[2018-03-06 21:59] digisavvy commented on #110
Closing because this is now available: https://github.com/digisavvy/some-like-it-neat/blob/master/CONTRIBUTING.md - Thanks @jacobarriola

[2018-03-06 21:59] #110 closed

[2018-03-14 18:32] kevincompton opened #120 "crashes wordpress after activation"
I've tried repeated installs and variations on the variables in the gulp settings and no matter what activating this theme crashes my local wordpress install completely and only works again if I unset that theme in the database

[2018-03-14 18:33] digisavvy commented on #120
Hi @kevincompton -
Sorry for the troubles there. Can you provide me some steps so I can attempt to reproduce? Also, is this a fresh install? What error do you receive when you activate the theme?

[2018-03-17 21:18] digisavvy commented on #120
@kevincompton - just checking in on those steps. Let me know. =)

[2018-03-18 14:33] digisavvy commented on #120
@kevincompton - I did end up replicating this issue. Or at least I think I did. You have to run `composer install` first. At least for now. I'll work that issue out and/or update the documentation.

[2018-04-01 06:51] digisavvy commented on #120
Hi @kevincompton - this [PR](https://github.com/digisavvy/some-like-it-neat/pull/121) from @bamadesigner should address this issue. Let me know if it's still an issue for you.

Thanks.

[2018-04-04 02:39] #120 closed

[2019-05-07 07:46] millo2k opened #122 "updated gulp - compiling to temp folder"
I've updated gulp on an old site but when I come to make changes it compiles out of the theme directory and into a temp folder on my computer. How do I change that?

Thanks

[2019-05-11 23:46] digisavvy commented on #122
Hey there,
Sorry you're running into this issue. I should let you know that I've been working on a different version of this theme that uses webpack-mix instead of gulp. You should try that. The theme is much the same but uses Grid CSS instead of Neat (although Neat is still packaged). https://github.com/digisavvy/some-like-it-neat/tree/webpack-mix-config

[2019-05-13 09:23] millo2k commented on #122
Great, I'll take a look thanks.

Any ideas how to sort this problem (its for an older version of somelikeitneat that needs some amends)

[2019-05-13 15:55] digisavvy commented on #122
I'll have a look at it and see what's going on. I may have further questions for you.

[2019-10-03 09:51] millo2k opened #123 "Gulp - syntax error"
Hi there,

I've just tried to install the theme, did the usual installation of npm etc... when initialising gulp I get...

C:\xampp\htdocs\wmcflnew\wp-content\themes\wmcfl>gulp
C:\xampp\htdocs\wmcflnew\wp-content\themes\wmcfl\node_modules\del\index.js:2
const {promisify} = require('util');
^

SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (modu

[2019-11-07 15:31] #123 closed, assigned to nobody

[2019-11-07 15:31] #122 closed, assigned to nobody

[2019-11-07 15:38] millo2k opened #124 "Child theme issues and guidance"
I asked this (and you gave great guidance) some years ago but with these a bit newer I have tried and only partially succeeded with creating a child theme and so need a steer (again!)

Basically, I have setup and styled my website with a main theme but now realise I need to edit some plugin files (no hooks). So I'm relying on a child theme.

The child theme is just vanilla (not somelikeitneat) as

[2019-11-07 16:01] millo2k commented on #124
On further investigation it seems it isn't added certain class names and ids to the main menu (which is the only thing that isn't being styled)

[2019-11-11 08:28] millo2k commented on #124
It seems like none of the flexnav stuff in 'template-parts' is being added to my childs menu... Any ideas?